apiVersion: audit.k8s.io/v1
kind: Policy
rules:
  - level: Metadata
    verbs: ["create", "update", "patch", "delete", "deletecollection"]
  - level: RequestResponse
    resources:
      - group: ""
        resources: ["secrets"]
    omitStages: ["RequestReceived"]
  - level: Metadata
    omitStages: ["RequestReceived"]
